\#*\#
.\#*
*~
mumble-pluginbot-plusplus
aclocal.m4
config.*
missing
install-sh
depcomp
stamp-h1
*.o
*.lo
*.la
INSTALL
.deps/
.dirstamp
Makefile
Makefile.in
configure
autom4te.cache
compile
libtool
ltmain.sh
.libs/
cert/
m4/
src/mumble/Mumble.pb.cc
src/mumble/Mumble.pb.h
src/git-info.hh
